<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{a.header.bills}">Bills</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "icon" href ="https://www.pinclipart.com/picdir/big/163-1634137_brochure-markant-online-books-icons-clipart.png"
          type = "image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal" th:text="#{a.header.welcome}">Welcome, My Lord</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark describable" th:href="${T(ua.mkorniie.service.util.directions.Pathes).ADMIN_MAIN.getUrl()}" th:text="#{a.header.main}">Requests</a>
        <a class="p-2 text-dark describable" th:href="${T(ua.mkorniie.service.util.directions.Pathes).ADMIN_USERS.getUrl()}" th:text="#{a.header.users}">Users</a>
        <a class="p-2 text-dark describable" th:href="${T(ua.mkorniie.service.util.directions.Pathes).ADMIN_BILLS.getUrl()}" th:text="#{a.header.bills}">Bills</a>
        <a class="p-2 text-dark describable" th:href="${T(ua.mkorniie.service.util.directions.Pathes).ADMIN_ROOMS.getUrl()}" th:text="#{a.header.rooms}">Rooms</a>
    </nav>
    <a class="btn btn-outline-primary" th:href="${T(ua.mkorniie.service.util.directions.Pathes).LOGOUT.getUrl()}" th:text="#{u.header.logout}">Logout</a>
</div>
<div style="padding:2px 20px">
    <a th:href="${T(ua.mkorniie.service.util.directions.Pathes).ADMIN_BILLS.getUrl()} + '?lang=ua'"><img width="25px" src="/img/ua-01.png" th:alt="#{ua.flag.alt}"></a>
    <a th:href="${T(ua.mkorniie.service.util.directions.Pathes).ADMIN_BILLS.getUrl()} + '?lang=en'"><img width="25px" src="/img/us-01.png" th:alt="#{en.flag.alt}"></a>
</div>
<br>
<div class="m-4"><h2 th:text="#{user.bills.table.title}">Bills</h2></div>
<br>
<p style="color: #078807;
    margin-left: 10px;" th:text="#{total.sum} + ${total}"> Paid in total: </p>
<br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col" th:text="#{user.bills.table.sum}">Sum</th>
        <th scope="col" th:text="#{user.bills.table.req.id}">Request Id</th>
        <th scope="col" th:text="#{user.bills.table.room.id}">Room Id</th>
        <th scope="col" th:text="#{user.bills.table.paid}">Is Paid</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b : *{page.getContent()}">
        <th scope="row" th:text="${b.getId()}"></th>
        <td th:text="${b.getSum()}"></td>
        <td th:text="${b.getRequest().getId()}"></td>
        <td th:text="${b.getRoom().getId()}"></td>
        <td th:text="${b.isPaid()}"></td>
    </tr>
    </tbody>
</table>
    <nav style="margin-left: 18px" aria-label="my-nav" th:if="${page.totalPages > 0}">
        <ul class="pagination">
            <li th:each="i: ${#numbers.sequence(0, page.getTotalPages() - 1)}" th:classappend="${page.getNumber() == i} ? active " class="page-item">
                <a class="page-link" th:href="'/admin/bills?page=' + ${i}" th:text="${i + 1}"> Page number</a>
            </li>
        </ul>
    </nav>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>