<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{a.header.rooms}">Rooms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "icon" href ="https://www.pinclipart.com/picdir/big/163-1634137_brochure-markant-online-books-icons-clipart.png"
          type = "image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{templates/css/style.css}">
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal" th:text="#{a.header.welcome}">Welcome, My Lord</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" th:href="${T(ua.mkorniie.service.util.directions.Pathes).ADMIN_MAIN.getUrl()}" th:text="#{a.header.main}">Requests</a>
        <a class="p-2 text-dark" th:href="${T(ua.mkorniie.service.util.directions.Pathes).ADMIN_USERS.getUrl()}" th:text="#{a.header.users}">Users</a>
        <a class="p-2 text-dark" th:href="${T(ua.mkorniie.service.util.directions.Pathes).ADMIN_BILLS.getUrl()}" th:text="#{a.header.bills}">Bills</a>
        <a class="p-2 text-dark" th:href="${T(ua.mkorniie.service.util.directions.Pathes).ADMIN_ROOMS.getUrl()}" th:text="#{a.header.rooms}">Rooms</a>
    </nav>
    <a class="btn btn-outline-primary" th:href="${T(ua.mkorniie.service.util.directions.Pathes).LOGOUT.getUrl()}" th:text="#{u.header.logout}">Logout</a>
</div>
<div style="padding:2px 20px">
    <a th:href="${T(ua.mkorniie.service.util.directions.Pathes).ADMIN_ROOMS.getUrl()} + '?lang=ua'"><img width="25px" src="/img/ua-01.png" alt="ua"></a>
    <a th:href="${T(ua.mkorniie.service.util.directions.Pathes).ADMIN_ROOMS.getUrl()} + '?lang=en'"><img width="25px" src="/img/us-01.png" alt="en"></a>
</div>
<br>
<div class="m-4"><h2 th:text="#{room.title}">Rooms</h2></div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col" th:text="#{room.pic}">Picture</th>
        <th scope="col" th:text="#{room.place}">Places</th>
        <th scope="col" th:text="#{room.room.c}">Rooms Class</th>
        <th scope="col" th:text="#{room.price}">Price</th>
        <th scope="col" th:text="#{u.del}">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r : *{page.getContent()}">
        <th scope="row" th:text="${r.getId()}"></th>
        <td><img height="120px" th:src="${r.getPicURL()}" alt="room"></td>
        <td th:text="${r.getPlaces()}"></td>
        <td th:text="${r.getRoomClass()}"></td>
        <td th:text="${r.getPrice()}"></td>
        <td><a th:text="#{u.del}" th:href="'/admin/rooms?method=delete&id=' + ${r.getId()}">Delete</a></td>
    </tr>
    </tbody>
</table>
<nav style="margin-left: 18px" aria-label="my-nav" th:if="${page.totalPages > 0}">
    <ul class="pagination">
        <li th:each="i: ${#numbers.sequence(0, page.getTotalPages() - 1)}" th:classappend="${page.getNumber() == i} ? active " class="page-item">
            <a class="page-link" th:href="'/admin/rooms?page=' + ${i}" th:text="${i + 1}"> Page number</a>
        </li>
    </ul>
</nav>
<br>

<div class="m-4">
    <h3 th:text="#{add.room}">Add room</h3></div>
<form action="#" th:action="@{/admin/update-rooms}" method="post" class="m-4">
    <div class="form-row">
        <div class="form-group col-2">
            <label for="picture" th:text="#{pic.path}">Picture URL</label>
            <input type="text" class="form-control" id="picture" name="picture">
        </div>
        <div class="form-group col-2">
            <label for="places" th:text="#{n.of.places}">Number of Places</label>
            <input type="number" class="form-control" id="places" name="places" min="1" max="10">
        </div>
        <div class="form-group col-2">
            <label for="roomClass" th:text="#{select.r.class}">Select Room Class</label>
            <select class="browser-default custom-select" id="roomClass" name="roomClass">
                <option th:each=" val : ${T(ua.mkorniie.model.enums.RoomClass).values()}"
                        th:value="${val}"
                        th:text="${val}">
            </select>
        </div>
        <div class="form-group col-2">
            <label for="price" th:text="#{room.price}">Price</label>
            <input type="number" class="form-control" id="price" name="price" min="0" step="0.01">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" th:text="#{user.main.req.btn}" >Add</button>
</form>

<div class="m-4">
<!--    <a th:href="${T(ua.mkorniie.service.util.directions.Pathes).ADMIN_MAIN.getUrl()}" th:text="#{back.to.main}">Back to main page</a>-->
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>