<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title th:text="#{user.req.title}"> Title </title>
    <link rel = "icon" href ="https://www.pinclipart.com/picdir/big/163-1634137_brochure-markant-online-books-icons-clipart.png"
          type = "image/x-icon">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal" th:text="#{u.header.welcome.msg} + '🖖'"></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark describable" href="/user/" th:text="#{u.header.new.req}"></a>
        <a class="p-2 text-dark describable" href="/user/my-requests" th:text="#{u.header.all.req}"></a>
        <a class="p-2 text-dark describable" href="/user/my-bills" th:text="#{u.header.all.bill}"></a>
    </nav>
    <a class="btn btn-outline-primary" th:href="${T(ua.mkorniie.service.util.directions.Pathes).LOGOUT.getUrl()}" th:text="#{u.header.logout}"></a>
</div>
<br>
<div>
    <a href="/user/my-requests?lang=ua" class="describable" th:data-title="#{ua.flag.data.title}"><img width="25px" src="/img/ua-01.png" th:alt="#{ua.flag.alt}"></a>
    <a href="/user/my-requests?lang=en" class="describable" th:data-title="#{en.flag.data.title}"><img width="25px" src="/img/us-01.png" th:alt="#{en.flag.alt}"></a>
</div>
<br>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" th:text="#{user.req.table.title}"></h1>
</div>
<table class="table" style="text-align: center">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col" th:text="#{user.req.table.plc}"></th>
        <th scope="col" th:text="#{user.req.table.stdate}"></th>
        <th scope="col" th:text="#{user.req.table.edate}"></th>
        <th scope="col" th:text="#{user.req.table.app}"></th>
        <th scope="col" th:text="#{user.req.table.cncl}"></th>
        <th scope="col" th:text="#{user.req.table.pay}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r : *{page.getContent()}">
        <th scope="row" th:text="${r.getId()}"></th>
        <td th:text="${r.getPlaces()}"></td>
        <td th:text="${r.getStartDate()}"></td>
        <td th:text="${r.getEndDate()}"></td>
        <!--    STATUS    -->
            <td th:if="${r.getStatus() == T(ua.mkorniie.model.enums.Status).approved}"%>
                <p th:text="#{enum.approved}"></p>
            </td>
            <td th:if="${r.getStatus() == T(ua.mkorniie.model.enums.Status).waitingForApproval}"%>
                <p th:text="#{enum.waiting.for.approve}"></p>
            </td>
            <td th:if="${r.getStatus() == T(ua.mkorniie.model.enums.Status).cancelled}"%>
                <p th:text="#{user.req.table.cancelled}"></p>
            </td>
        <!--    CANCEL    -->
        <td>
            <a th:href="@{'/user/my-requests?method=cancel&req_id=' + ${r.getId()}}" th:text="#{user.req.table.cncl}"></a>
        </td>
        <td th:if="${r.getStatus() == T(ua.mkorniie.model.enums.Status).approved}">
            <a th:href="@{'/user/my-bills'}"  th:text="#{user.req.table.pay}"></a>
        </td>
        <td th:if="${r.getStatus() == T(ua.mkorniie.model.enums.Status).waitingForApproval}">
            <p th:text="#{user.req.table.cantpay}"></p>
        </td>
        <td th:if="${r.getStatus() == T(ua.mkorniie.model.enums.Status).cancelled}">
            <p th:text="#{user.req.table.cancelled}"></p>
        </td>
    </tr>
    </tbody>
</table>

<nav style="margin-left: 18px" aria-label="my-nav" th:if="${page.totalPages > 0}">
    <ul class="pagination">
        <li th:each="i: ${#numbers.sequence(0, page.getTotalPages() - 1)}" th:classappend="${page.getNumber() == i} ? active " class="page-item">
            <a class="page-link" th:href="'/user/my-requests?page=' + ${i}" th:text="${i + 1}"> Page number</a>
        </li>
    </ul>
</nav>
<br>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</body>
</html>