<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title th:text="#{welcome.title}">Title</title>
</head>
<body>
<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
<!--        <h5 class="my-0 mr-md-auto font-weight-normal">Welcome, My Lord</h5>-->
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark describable"
               href="/login"
               th:text="#{login.link.value}"
               th:data-title="#{login.data.title}">
                    Log in
            </a>
            <a class="p-2 text-dark describable" href="/register" th:text="#{register.link.text}"
               th:data-title="#{register.data.title}">
                    Register
            </a>
        </nav>
    </div>
</header>
<div style="padding:2px 20px">
    <a href="/?lang=ua"><img width="25px" src="img/ua-01.png" th:alt="#{ua.flag.alt}"></a>
    <a href="/?lang=en"><img width="25px" src="img/us-01.png" th:alt="#{en.flag.alt}"></a>
</div>
<div style="width: 100%; padding-bottom: 20px">
    <h1 style="text-align: center; margin-top: 65px" th:text="#{welcome.message1}"></h1>
        <br>
    <h1 style="text-align: center;" th:text="#{welcome.message2} + '🏨'"></h1>
</div>
<div style="width: 70px; height:1px; background: darkgrey; margin: 0 auto;  margin-bottom: 50px"></div>
    <img style="display: block;
                margin-left: auto;
                margin-right: auto;" height="700px" src="img/hotel/hotel.jpg" th:alt="#{hotel.image.alt}">
<footer style="width:100%; height: 20px; background: black">
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/script.js"></script>
</html>